html,body{
  scroll-snap-type: y mandatory;
}

.title{
  font-family: 'League Spartan',sans-serif;
  font-size: 40px;
  padding:20px;
  color:#265073;
  position: absolute;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right: 0;
  text-align: center;
  margin-top:0;
}
.button{
  color:#F2BE22;
  font-weight: 400;
  font-family: 'League Spartan',sans-serif;
  font-size:35px;
  margin:0;
  cursor: pointer;
  display:inline-block;
  position: relative;
  text-align: center;
}

.iconHome{
  width:250px;
  opacity: 0.3;
}

.imageText{
  font-size: 55px;
  font-family: 'DM Serif Display',serif;
  font-weight: 700;
  margin-bottom: 60px;
}

.imageContent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about{
  padding:20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutTitle{
  font-size:50px;
  font-family: 'League Spartan',sans-serif;
  opacity: 0.6;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}
.contactTitle{
  font-size:50px;
  font-family: 'League Spartan',sans-serif;
  opacity: 0.6;
  text-align: center;
  font-weight: 600;
}
.aboutContent,.contactContent{
  font-size: 30px;
  font-family: 'League Spartan',sans-serif;
  line-height:55px;
  font-weight: 500;
  text-align: center;
}

.contact{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactCap{
  font-family:'League Spartan',sans-serif;
  font-size:20px;
  text-align: center;
  margin-bottom: 40px;
  opacity: 0.7;
}


.child{
  scroll-snap-align: start;
}

::-webkit-scrollbar{
  width: 4px;
}

::-webkit-scrollbar-thumb{
  background-color: #2D9596;
}

.button::after{
  content : '';
  position: absolute;
  width: 100%;
  transform:scaleX(0);
  height: 2px;
  bottom:0;
  left:0;
  background-color: #22A699;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.button:hover::after{
  transform:scaleX(1);
  transform-origin:bottom left;
}

.buttonHolder{
  display: flex;
  justify-content: center;
}

.detailsHolder{
  margin:10px;
}

.noteText{
  text-align: center;
  font-family: 'League Spartan',sans-serif;
  font-size:22px;
  line-height: 35px;
  margin-bottom: 40px;
  font-weight: 600;
}


.MuiFormLabel-root{
  font-family: 'League Spartan',sans-serif !important;
  font-size: 25px !important;
  color:black !important;
}

.MuiTypography-root{
  font-family: 'League Spartan',sans-serif  !important;
  font-size:19px !important;
}
.noteText{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.GenDet{
  margin-top: 60px;
}

.OtherData{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  position: relative;
}

.HealthStat{
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  align-items: center;
}

.line{
  margin-bottom: 40px;
}

.backgroundText{
  position: absolute;
  top:15px;
  left:0;
  font-size: 150px;
  z-index: -1;
  opacity: 0.15;
  font-family: 'League Spartan',sans-serif;
}


.left{
  margin-left:500px;
}

.floatingButton{
  position:absolute;
  bottom:15px;
  right:0;
}
.middle{
  position: absolute;
}

.audioHolder{
  font-family: 'League Spartan',sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

}

.note{
  font-size:18px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.4);
  border-radius: 5px;
  padding:10px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top:150px;
}

.hello{
  margin-left:10px;
}

.card{
  margin-top:20px;
}

.cardTitle{
  font-size:20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.cardCap{
  margin-bottom: 10px;
  margin-left:15px;
}


.modalTitle{
  font-family: 'League Spartan',sans-serif;
  font-size:20px;
  margin:0 0 15px 0;
  font-weight: 600;
  text-align: center;
}

.modalCap{
  text-align: center;
  font-family: 'League Spartan',sans-serif;
  font-size:15px;
  font-weight: 550;
  opacity: 0.5;
}
